.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

a {
  /* halloween: color: rgb(114, 0, 114); */
  color: white;
}
#text {
  width: 250px;
}
#lol {
  color: rgb(27, 0, 23);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


















html { height: fit-content; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #400253;
  height: fit-content;
}


.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20;
  z-index: -1;

}



